*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1{
    font-size: 4rem;
}

section{
    height:100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blueviolet;
    background-image: linear-gradient(blue, red, blueviolet, black);
    /* background-image: url(../libro.jpg);
    background-position: 100px 50px;
    background-repeat: repeat;
    background-size: 100px 100px; */   
}


@media screen and (max-width: 500px) {
    h1{
        color: cadetblue;
    }
}
