@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');


body{
    color: rgb(178, 32, 69);
}

button{
    background-color: purple;
}

nav button{
    background-color: royalblue;
}

main button{
    background-color: salmon;
}

h1{
   background-color: rgb(0, 255, 157);
   color: chocolate;

   font-size: 100px;
   font-weight: lighter;
   font-style: italic;
   font-family: helvetica;
    font-family: 'Neonderthaw', cursive;
    
}

h2{
text-decoration: linen; overflow-inline: ;
text-decoration: double;
text-decoration-color: blue;
}
p{
    background-color: crimson;
    color: navy;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    
}

#azul,
#azulx2{
    background-color: navy;
    color: oldlace;
}

.rojo{
    background-color: orangered;
    color: peru;
}

