body{
    color: rgb(red, green, blue);

}

div{
    height: 50px
}

#color1{
    background-color: black;
    width: 50%;
    }

#color2{
    background-color: white;
}

#color3{
    background-color: red;
}

#color4{
    background-color: lime;
}

#color5{
    background-color: blue;
}

#rgb1{
    background-color: rgb(0,0,0);
    }

#rgb2{
    background-color: rgb(255,255,255);
}

#rgb3{background-color:rgb(255,0,0) ;

}

#rgb4{
    background-color: rgb(0,255,0);

}

#rgb5{
    background-color: rgb(0,0,255);
}

#hex1{
    background-color: #000;
}

#hex2{
    background-color: #ffff;
}

#hex3{
    background-color: #ff0000;
}

#hex4{
    background-color: #00ff00;
}

#hex5{
    background-color: #0000ff;
}

#hsl1{
    background-color: hsl(234,23%,0%);
}
#hsl2{
    background-color: hsl(123,50%,100%);
}

#hsl3{
    background-color: hsl(0, 100%, 50%)
}

#hsl4{
    background-color: hsl(120,100%,50%);
}

#hsl5{
    background-color: hsl(240,100%,50%);
}